<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <h2><%= "ID: #{@user.id}" %></h2>
  
  <% req_fri_btn(@user.id) %><br/><br/>
  
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  
  
    <table>
    <tr><th>Name of Friends</th></tr>
      <% @friend_list.each do |f| %>
    <tr><td><%= f.name %></td></tr>
      <% end %>
    </table>
     <br/>

  <% list_requests(@user.id) %> 
     
  
     

</section>
